


.about {
  background-color: transparent;
  font-size: 1.1em;
  font-family: Arial, Helvetica, sans-serif;
}

.profile {
  max-width: 18em;
}

.my-details {
  background-color: rgba(255, 255, 255, 0.747);
}
